.curve-doughnut-chart {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}

.curve-doughnut-chart__issued-dots-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.curve-doughnut-chart__dot-price-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.curve-doughnut-chart__user-dots-container {
  height: 30px;
  font-size: 30px;
  font-weight: 600;
  top: calc(50% - 10px);
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  text-align: center;
  position: absolute;
}